body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding-top: 32px;
}

p {
  margin-top: 0;z
}

.search {
  position: fixed;
  top: 0;
  width: 100%;
}

input[type='search'] {
  border-bottom-color: #f2f2f2;
  border-width: 0 0 1px;
  box-shadow: 0 0 4px 2px #c6c6c6;
  font-size: 12px;
  padding: 8px;
  width: 100%;
}

input[type='search']:focus {
  outline: none;
  border-bottom-color: #ccc
}

.image-container {
  padding: 10px;
}

.image-container.is-selected {
  background-color: lightblue;
}

.image-container img {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.tags {
  margin-bottom: 0;
}

.tag {
  border: 1px solid steelblue;
  border-radius: 3px;
  color: steelblue;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 5px;
}
